/* .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.title{
    margin-top: 50px;
    color:#fff;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color:aquamarine;
}
button{
    width:150px;
    height:50px;
    border-radius: 10px;
    background-color: red;
    color:#fff;
    border:0;
    outline: 0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.boxes{
    display: flex;
    background: #1f3540;
    cursor: pointer;
    width:140px;
    height:140px;
    border:4px solid #0f1b21;
}
.board{
   
    height:600px;
    width:564px;
    display: flex;
    margin: auto;
}
.boxes img{
    margin:50px 50px;
} */

.boxes{
    display: flex;
    background: #1f3540;
    cursor: pointer;
    width:140px;
    height:140px;
    border:4px solid #0f1b21;
}